{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "parserPreset": {
    "parserOpts": {
      "headerPattern": "^([a-z]+)?\\s*\\((.+?)\\): (.+)$",
      "headerCorrespondence": ["type", "scope", "subject"]
    }
  },
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "evol",
        "fix",
        "docs",
        "chore",
        "style",
        "refactor",
        "ci",
        "test",
        "perf",
        "revert",
        "vercel"
      ]
    ],
    "type-case": [2, "always", "lower-case"]
  }
}